<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reclamo</title>
    <style>
        body {
            
        }

        .container {

        }

        h1 {

        }

        p {

        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Notificación de actualizacion de reclamo.</h1>
        <h3>Estimado sr/a {{nombre}}:</h3>
        <p> Nos comunicamos con usted para informarle que su reclamo n° {{nroReclamo}} ha pasado al estado <!--"{{estado}}"-->.</p>
        <p>Por favor no responder este mensaje.</p>
    </div>
</body>

</html>