<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reclamo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: black;
        }

        h1 {
            color: blue;
        }

        p {
            color: white;
        }

        li {
            color: purple
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Notificación de actualizacion de reclamo.</h1>
        <h3>{{nombre}}:</h3>
        <p> Nos comunicamos con usted para informarle que su reclamo con el ID {{nroReclamo}} ha pasado al estado: {{estado}}.</p>
        <p>Por favor no responda este mensaje.</p>
    </div>
</body>

</html>